.fields-container {
  display: grid;
  grid-template:
    "text color" max-content
    "date color" max-content / 2fr 1fr
  ;
  column-gap: 30px;
  row-gap: 30px;
}

.fields-container .text-field {
  grid-area: text;
}

.fields-container .date-field {
  grid-area: date;
}

.fields-container .color-field {
  grid-area: color;
  width: 100%;
}

.fields-container .field .label {
  font-weight: bold;
  margin-bottom: 15px;
}

.fields-container .date-field .date-component {
  padding: 15px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
}

@media screen and (max-width: 650px) {
  .fields-container {
    grid-template:
      "text" max-content
      "date" max-content
      "color" max-content / 1fr
    ;
  }
}